.DS\_Store
.DS_Store
.bundle
Gemfile.lock
db/*.sqlite3
log/*.log
.DS\_Store
.DS_Store
*~
*.cache
*.log
*.pid
tmp/
Capfile
doc/
nbproject
Thumbs.db
public/javascripts/cache
public/stylesheets/cache
public/packages
public/assets/**/*
public/assets
tmp/ruby-uuid
results
coverage
.idea
public/stylesheets/*packaged.css
public/stylesheets/*.css
public/javascripts/*packaged.js
config/database.yml
public/uploads
public/javascripts/locales
public/games
db/schema.rb
tmp/restart.txt
rerun.txt
coverage.data
reports
webrat-*
.rvmrc
*.swp
vendor/ruby/**/*
public/doc/
.yardoc
